.nav-item .en{
	min-width: 300px;
}

/* .logo-en{ */
	/* margin-right:100px; */
/* } */

/* .navbar-en{ */
	/* margin-right:80px; */
	/* border-collapse:0px 0px !important; */
	/* width:100% */
/* } */

/* 快速導航 */
.fast_nav{
	position:static;
	width:310px;
}
@media (min-width:1000px){
	.fast_nav.fast_nav-fixed{
		position:fixed;
		top:20%;
	}

	.fast_nav.fast_nav-bottom{
		position:absolute;
		bottom: 0px;
		left : 10px;
	}
}
@media (max-width:1000px){
	.fast_nav.fast_nav-fixed{
	position:static;
	width:100%;
	}

	.fast_nav.fast_nav-bottom{
	position:static;
	width:100%;
	}
}


/* 主題探究 */
.makcy_nav{
	position:static;
	width:310px;
}
@media (min-width:1000px) and (min-height:800px){
	.makcy_nav.fast_nav-fixed{
		position:fixed;
		top:10%;
	}

	.makcy_nav.fast_nav-bottom{
		position:absolute;
		bottom: 0px;
		left : 10px;
	}
}
@media (max-width:1000px){
	.makcy_nav.fast_nav-fixed{
	width:100%;
	}

	.makcy_nav.fast_nav-bottom{
		position:absolute;
		bottom: 0px;
		left : 10px;
	}
}